.collection {
    padding: 0.4em;
}
.master {
    background: transparent;
    padding: 10px;

    &.active {
        transition: box-shadow 0.3s ease;
        background: var(--lumo-primary-color-10pct);
        box-shadow: var(--lumo-box-shadow-xs);
    }

    &.content:hover  {
        text-decoration-line: underline;
    }

    &:not(.no-hover):hover {
        background: var(--lumo-contrast-20pct);
        transition: background 0.3s ease;
    }

    &.actions {
        opacity: 0;
    }

    &:hover .actions {
        opacity: 1;
    }
}