.card:hover {
    background: var(--lumo-contrast-20pct);
    transition: background 0.3s ease;
}

.card {
    border-radius: var(--lumo-border-radius-m);
    box-shadow: 0 2px 5px var(--lumo-box-shadow-xs);
    padding: 10px;
    cursor: pointer;
    background: var(--lumo-contrast-10pct);
}

.card.collection {
    padding: 0.4em;
}

.card.master {
    border: solid 3px transparent;
}

.card.master.active {
    transition: border 0.3s ease;
    border: solid 3px var(--lumo-primary-color-50pct);
}

.card .content:hover  {
    text-decoration-line: underline;
}

.card .actions {
    opacity: 0;
}

.card:hover .actions {
    opacity: 1;
}