.card:hover {
    background: var(--lumo-contrast-20pct);
    transition: background 0.3s ease;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--lumo-box-shadow-xs);
    padding: 10px;
    cursor: pointer;
    background: var(--lumo-contrast-10pct);
    border: solid 3px transparent;
}

.card.active {
    transition: border 0.3s ease;
    border: solid 3px var(--lumo-primary-color-50pct);
}